.container{
    max-width: 100%;
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:  [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem , 1fr) [center-start] repeat(8, [col-start] minmax(min-content , 1fr) [col-end]) [center-end] minmax(6rem , 1fr) [full-end]; 
    position: relative;
    overflow-x: hidden ;
}



@media only screen and (max-width: 75em ) {
    .container{
        grid-template-rows: 6rem 50vh min-content 40vw repeat(3, min-content);
        grid-template-columns:    [full-start] minmax(6rem , 1fr) [center-start] repeat(8, [col-start] minmax(min-content , 1fr) [col-end]) [center-end] minmax(6rem , 1fr) [full-end]; 
    }
}

@media only screen and (max-width: 48em) {
    .container{
        grid-template-rows: 6rem 50vh minmax(min-content, max-content) min-content  60vw min-content repeat(3, min-content);
        grid-template-columns:    [full-start] minmax(6rem , 1fr) [center-start] repeat(8, [col-start] minmax(min-content , 1fr) [col-end]) [center-end] minmax(6rem , 1fr) [full-end]; 
    }
}